*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  color: white;
}

body {
  font-family: 'Permanent Marker', cursive;
  background-image: linear-gradient(to bottom, #555, #000);
  height:100vh;
}

.gameContainer{

}

.reset, .form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

h1, h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.squares {
  display: grid;
  transform: perspective(300px) rotateX(25deg) scale(1.2);
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  width: 300px;
  height: 300px;

}

.square{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
}

#cell_0,
#cell_1,
#cell_3,
#cell_4 {
  border-right: 8px solid white;
  border-bottom: 8px solid white;
}

#cell_2,
#cell_5
{
  border-bottom: 8px solid white;
}

#cell_6,
#cell_7
{
  border-right: 8px solid white;
}

@keyframes pulse {
  from {
    color: red;
    font-size: 2rem;
  }
  50% {
    color: yellow;
    font-size: 3.5rem;
  }
  to {
    color: red;
    font-size: 2rem;
  }
}
.winner {
  animation: pulse;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: red;
  font-size: 3rem;
}

.resetbutton {
  font-size: 3rem;
}
