*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  background-color: wheat;
}

.gameContainer{
  border: 2px solid red;
}

.squares{
  border: 2px solid green;
  margin: .1rem;
}

.square{
  border: 2px solid black;
  margin: .1rem;
}
